.App {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: white;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #303030;
  font-size: 20px;
}

